@{
    ViewData["Title"] = "Home";
}
<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            &nbsp;
        </div>
    </div>
</div>
<div class="flex flex-col items-center justify-center min-h-screen bg-gray-50 px-4 py-10 text-center space-y-10">
    <div class="max-w-4xl">
        <h1 class="text-4xl md:text-5xl font-bold text-blue-900 mb-4">
            Bem-vindo(a) ao Portal de Catálogo de super-heróis
        </h1>
    </div>
    <div class='row'>
        <div class='col-md-12'>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8 max-w-5xl w-full mt-10">
                <div class="bg-white p-6 rounded-lg shadow-md text-center">
                    <img src="~/dist/img/img_index_superheroes.png"
                         alt="super-heróis"
                         class="w-full object-contain mx-auto" style="height: 350px" />
                    <h3 class="text-xl font-semibold text-blue-800">&nbsp;</h3>
                    <p class="text-gray-700 text-lg">
                        Transforme o modo como sua empresa recruta, treina e desenvolve talentos com uma plataforma moderna e intuitiva.
                    </p>
                </div>
            </div>
        </div>

        @* <div class='col-md-6'>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8 max-w-5xl w-full mt-10">
                <div class="bg-white p-6 rounded-lg shadow-md text-center">
                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
                         alt="Recrutamento"
                         class="h-16 mx-auto mb-4" style="height: 350px" />
                    <h3 class="text-xl font-semibold text-blue-800">Recrutamento Inteligente</h3>
                    <p class="text-gray-600 text-sm mt-2">
                        Centralize e otimize os processos seletivos com filtros avançados, notificações e análise de currículos.
                    </p>
                </div>
            </div>
        </div> *@
    </div>

    <div class="max-w-4xl">
        &nbsp;
    </div>
</div>