<div class="modal fade" id="modalDeleteCourse" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header alert alert-dark">
                <h5 class="modal-title"><i class="fas fa-trash fa-fw me-1 "></i>Excluir Curso</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" v-on:click="clearFieldsChangeCourse"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-muted">
                    <b>Atenção!</b>
                    Tem certeza que deseja excluir o Curso: <strong>{{editionCourse.name}}</strong>?
                    <a href="#" class="alert-link"></a>
                </div>

            </div>
            <div class="modal-footer bg-navy">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-target="#modalDeleteCourse" v-on:click="clearFieldsChangeCourse">Fechar</button>
                <button type="button" class="btn btn-danger" v-on:click="saveRemoveCourse(editionCourse.code)">Excluir</button>
            </div>
        </div>
    </div>
</div>