<div>
    <tablesuperheroesfilters v-on:filter-Fields="filterNameOrHeroNameSuperheroes"
                             v-on:list-Superheroes="listSuperheroes"
                             v-on:selecionar-Status="selecionarStatus"
                             v-on:clear-Filter-Superheroes="clearFilterSuperheroes" />
</div>