<div class="modal fade" id="modalUpdateCourse" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header alert alert-dark">
                <h5 class="modal-title"><i class="fas fa-edit fa-fw me-1 "></i>Editar Curso</h5>
                <button type="button" class="btn-close btn-close-white" data-dismiss="modal" v-on:click="clearFieldsChangeCourse"></button>
            </div>

            <div class="modal-body">

                <div class="mb-3">
                    <label class="form-label">Nome do Curso <span class="text-danger">*</span></label>
                    <div class="row row-space-10">
                        <div class="col-12" v-bind:class="classesErrorsValidationCourseEdit">
                            <input type="text" class="form-control" placeholder="Nome" v-model="editionCourse.name" minLength="2" maxlength="256" required />
                            <div class="invalid-feedback">
                                {{messageErrorValidationCourseEdit.name}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Descrição do Curso <span class="text-danger">*</span></label>
                    <div class="row row-space-10">
                        <div class="col-12" v-bind:class="classesErrorsValidationCourseEdit">
                            <input type="text" class="form-control" placeholder="Descrição" v-model="editionCourse.description" minLength="2" maxlength="1000" required />
                            <div class="invalid-feedback">
                                {{messageErrorValidationCourseEdit.description}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Status</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="statusCheck"
                               v-model="editionCourse.status">
                        <label class="form-check-label" for="statusCheck">Ativo</label>
                    </div>
                </div>
            </div>

            <div class="modal-footer bg-navy">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#modalUpdateCourse" v-on:click="clearFieldsChangeCourse">Fechar</button>
                <button type="submit" class="btn btn-primary" v-on:click="saveChangeCourse">Salvar</button>
            </div>
        </div>
    </div>
</div>